@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: rgb(240, 240, 240);
}

.wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #262626;
  color: #fff;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 2em;
  font-size: 18px;
  border-bottom: 0.05em solid rgb(151, 151, 151);
}

.brand h2{
  font-size: 2em;
}

.brand span{
  color: #04b98c;
}

.menu{
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu li{
  list-style: none;

}

.menu a{
  color: #fff;
  text-decoration: none;
  padding: 15px;
}

.menu a:hover{
  padding: 15px;
  background-color: white;
  color: black;
  border-radius: 10px;
  transition: ease-in .5s;
}

.menu .active{
  color: #04b98c;
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

h1{
  color: #fff;
  font-size: 3.5em;
}

.dividerH2{
  height: 4px;
  width: 60px;
  background-color: #04b98c;
  margin-top: 5px;
  margin-bottom: 2.5em;
}

p{
  color: #fff;
  font-size: 20px;
}

h1 span{
  color: #04b98c;
}

h1 span:hover{
  transition: ease-in .5s;
  color: black;
}

.boton{
  padding: 10px 20px;
  font-size: 15px;
  background-color: #04b98c;
  border-radius: 15px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 234, 200, .69);
}

.boton:hover{
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border-radius: 15px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: none;
  transition: ease-in .5s;
}

.main img{
  width: 530px;
  height: 662px;
  border: 7px solid #04b98c;
}


.about-info p{
  color: black;
  font-size: 20px;
}

.about-img{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.about-img img{
  width: 100%;
  height: 100%;
  grid-column: 1/5;
}

.about-info{
  padding: 5em;
  grid-column: 5/10;
}

.about-info h2{
  font-size: 2em;
  color: #262626;
}

.divider{
  height: 4px;
  width: 60px;
  background-color: #04b98c;
  margin-top: 5px;
  margin-bottom: 2.5em;
}

.about-img p{
  margin-bottom: 1em;
}

.portfolio-headings{
  width: 100vw;
  padding: 4em;
}

.portfolio-headings h2{
  font-size: 3em;
}

.portfolio .container{
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.card{
  width: 300px;
  height: 370px;
  border-radius: 10px;
  background-color: #575656;
  margin: 5em;
}

.card-img{
  width: 300px;
  height: 150px;
  background-image: url(../img/2-original.png);
  background-size: cover;
  border-radius: 10px;
}

.card-title{
  padding: 20px;
}

.proyect-links{
  display: flex;
  justify-content: space-evenly;
}

.proyect-links a{
  color: white;
  text-decoration: none;
}

.proyect-links i{
  font-size: 1.5em;
}

.card .project-details{
  margin: 0 auto;
  width: 50%;
  margin: 1em;
}

.card .project-details a{
  color: #262626;
  text-decoration: none;
}

.proyect-details-content{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}



.containerCarrousel{
  margin: auto;
  background-color: white;
  width: 800px;
  margin-top: 1em;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 800px;
  height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menuCarrousel{
  text-align: center;
  margin: 20px;
}

.menuCarrousel li{
  display: inline-block;
  text-align: center;
}

.menuCarrousel li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

.tecnologiasH2 h2{
  font-size: 1.5em;
  color: #262626;
  padding: 2em;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: 1em;
  box-shadow: 0px 0px 20px #111111;
}

.tecnologiasH2 h2:hover{
  font-size: 1.5em;
  color: white;
  background-color: #262626;
  padding: 2em;
  border: 2px solid rgb(204, 190, 190);
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: 1em;
  box-shadow: 0px 0px 20px black;
  transition: ease-in .4s;
}

.about-info-2{
  width: 100vw;
  padding: 5em;
}

.about-info-2 h2{
  font-size: 2.2em;
  color: white;
}

.about-info-2 p{
  color: white;
  font-size: 20px;
}

.contact-section {
  padding: 3em;
  margin: 0 auto;
}


.container-contact img{
  width: 750px;
  height: 700px;
  bottom: 0px;
}


.slide {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
  margin-bottom: 26px;
}

.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
}

.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}

.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  width: 1920px;
  height: 100%;
}

.slide-item img {
  display: block;
  height: auto;
  max-width: 100%;
  height: 100%;
}

.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.slide-control.prev {
  left: 2%;
}

.slide-control.next {
  right: 2%;
}

.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}

.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}

.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.slide-circulo:hover {
  color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo {
  color: #428bca;
}

#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.h2Tecnologias{
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 4em;
}

.h2Tecnologias h2{
  font-size: 2em;
  border: 2px solid black;
  padding: 50px;
  box-shadow: 0px 0px 10px black;
}

.h2Tecnologias h2:hover{
  font-size: 2em;
  border: 2px solid white;
  color: white;
  background-color: #262626;
  transition: ease-in .4s;
}

.flecha{
  display: flex;
  justify-content: center;
}


.flecha img{
  width: 150px;
  height: 150px;
  margin-top: -50px;
  border: 2px solid white;
  border-radius: 50%;
  margin-bottom: 15px;
  box-shadow: 0px 0px 15px black;
}

.flecha img:hover{
  border: 3px solid black;
  background-color: rgb(175, 175, 175);
  transition: ease-in .4s;
  box-shadow: 0px 0px 25px white;
}


footer #footer{
  display: flex;
  justify-content: space-around;
  background: #262626;
  padding: 75px;
  color: #adb5bd;
  border-top: 0.05em solid rgb(151, 151, 151);
}


#footer h2{
  color: white;
  text-align: center;
}

#footer div{
  margin-top: 15px;
}

#footer p{
  margin-top: 5px;
  font-size: 18px;
}



#redes-sociales a img{
  display: inline-block;
  border-radius: 10px;
  margin-top: 35px;
  background-color: white;
  border: 1px solid white;
  width: 45px;
  height: 45px;
}



